@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title page.</h1>
            <h2>This is an h2 header</h2>
        </hgroup>
        <p>
            The page features <mark>videos, pages, and samples</mark> to help you get the most from this website.
        </p>
    </div>
</section>
}

<h3>This is an h3 header:</h3>

<ol class="round">
    <li class="one">
        <h5>h5 Lorem ipsum dolor sit amet</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor sed tellus nec adipiscing. Aliquam vitae diam elit. Duis ut bibendum est. Pellentesque accumsan id turpis id varius. Quisque at magna eget urna luctus mattis eget et nisi. Maecenas vel ultricies purus, vel dignissim metus. Nunc eu tellus non turpis commodo molestie. Vestibulum consectetur tellus metus, sit amet aliquam urna placerat nec. Vivamus egestas ligula et est mattis molestie. Aliquam erat volutpat. Phasellus dignissim nisl eu suscipit elementum. Integer quis elementum arcu. Proin vehicula laoreet ipsum vehicula tincidunt. Cras vitae porttitor massa, id vehicula dui.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>h5 Lorem ipsum dolor sit amet</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor sed tellus nec adipiscing. Aliquam vitae diam elit. Duis ut bibendum est. Pellentesque accumsan id turpis id varius. Quisque at magna eget urna luctus mattis eget et nisi. Maecenas vel ultricies purus, vel dignissim metus. Nunc eu tellus non turpis commodo molestie. Vestibulum consectetur tellus metus, sit amet aliquam urna placerat nec. Vivamus egestas ligula et est mattis molestie. Aliquam erat volutpat. Phasellus dignissim nisl eu suscipit elementum. Integer quis elementum arcu. Proin vehicula laoreet ipsum vehicula tincidunt. Cras vitae porttitor massa, id vehicula dui.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>h5 Lorem ipsum dolor sit amet</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor sed tellus nec adipiscing. Aliquam vitae diam elit. Duis ut bibendum est. Pellentesque accumsan id turpis id varius. Quisque at magna eget urna luctus mattis eget et nisi. Maecenas vel ultricies purus, vel dignissim metus. Nunc eu tellus non turpis commodo molestie. Vestibulum consectetur tellus metus, sit amet aliquam urna placerat nec. Vivamus egestas ligula et est mattis molestie. Aliquam erat volutpat. Phasellus dignissim nisl eu suscipit elementum. Integer quis elementum arcu. Proin vehicula laoreet ipsum vehicula tincidunt. Cras vitae porttitor massa, id vehicula dui.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>