@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}


@section styles {
<style> /*-- Page-specific styles --*/
@@media only screen and (min-width: 1025px) {
    
    /* -- Big Background Image --*/
    .page #container, .page .content-wrapper { 
        background: url(../../images/bg-accounting.jpg) no-repeat top center fixed;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg-accounting.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg-accounting.jpg', sizingMethod='scale')";
    }
    
    .page .index {
        /*
        background: #FFF url(../../images/stock-illustration-16588803-finance-backround.jpg) no-repeat top center fixed;
        background-size: cover;
        min-height: 300px;
    */
    }


    
    /*
    #curricular-learning-goals {}
    #core-business-courses {background: url(../../images/1.jpg);}
    #major-required-courses {background: url(../../images/1.jpg);}
    */ 
    
}
</style>
}


@section featured {
<section id="feature" class="featured" data-sticky_column>
    <div class="wrapper clearfix nav-pills nav-stacked pull-left" data-scrollspy="scrollspy" data-target="nav">

        <hgroup class="title">
            <h2>Bachelors of Science in Business Administration</h2>
            <h1>Accounting</h1>
        </hgroup>

        <nav id="menu" data-scrollspy="scrollspy">
            <div>
                <ul class="cl-effect-10">
                    <li style="line-height:0;"><a href="#top"></a></li>
                    <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals"><span>Curricular Learning Goals</span></a></li>
                    <li><a href="#core-business-courses" data-hover="Core Business Courses"><span>Core Business Courses</span></a></li>
                    <li><a href="#major-required-courses" data-hover="Major Required Courses"><span>Major Required Courses</span></a></li>
                    <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                    <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                    <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
                    <li><a href="#certificates" data-hover="Certificates"><span>Certificates</span></a></li>
                </ul>
            </div>
        </nav>

    </div>
</section>
}

<section class="index clearfix">
    <div class="wrapper">
        Index section content.
        <p><!-- for development only --><label id="message" style="display: block;"></label><!-- for development only --></p>
    </div>
</section>

<section id="curricular-learning-goals" class="section persist-area clearfix">
    <div class="wrapper">
        <header class="persist-header">
            <div><span>Curricular Learning Goals</span></div>
            <ul class="nav">
                <li><a href="#">share</a></li>
            </ul>
        </header>

        <div class="section-top">
            <img src="../../images/comp.jpg" width="100%" alt="students">
            <div class="section-title"><span>Curricular Learning Goals</span></div>
        </div>

        <div class="section-bottom">            <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <small>&mdash; Dr. Julius Hibbert</small>
            </blockquote><br />        </div>    </div>
</section>

<section id="core-business-courses" class="section persist-area clearfix">
    <div class="wrapper">
        <header class="persist-header">
            <div><span>Core Business Courses</span></div>
            <ul class="nav">
                <li><a href="#">share</a></li>
            </ul>
        </header>

        <div class="section-top">
            <img src="../../images/students.jpg" width="100%" alt="students">
            <div class="section-title"><span>Core Business Courses</span></div>
        </div>
        

        <div class="section-bottom">            <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <small>&mdash; Dr. Julius Hibbert</small>
            </blockquote><br />        </div>    </div>
</section>

<section id="major-required-courses" class="section persist-area clearfix">
    <div class="wrapper">
        <header class="persist-header">
            <div><span>Major Business Courses</span></div>
            <ul class="nav">
                @*<img src="../../images/stock-illustration-20952646-planning.jpg" width="100%" alt="students">*@
                <li><a href="#">share</a></li>
            </ul>
        </header>

        <div class="section-top">
            <img src="../../images/knight.jpg" width="100%" alt="students">
            <div class="section-title"><span>Major Business Courses</span></div>
        </div>

        <div class="section-bottom">            <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <small>&mdash; Dr. Julius Hibbert</small>
            </blockquote><br />        </div>    </div>
</section>