@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section featured {
<section id="aside" class="featured" data-sticky_column>
    <div class="wrapper">
        
        <hgroup class="title">
            <h1>College of Business -- H1</h1>
            <h2>This is an h2 header.</h2>
        </hgroup>

        <nav>
            <a href="#s1">Curricular Learning Goals</a><br>
            <a href="#s2">Core Business Courses</a><br>
            <a href="#s3">Major Required Courses</a><br>
        </nav>
        
        @*<p>The page features <mark>videos, pages, and samples</mark> to help you get the most from this website.</p>*@

        <p>paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>

    </div>
</section>
}

<section class="index">
    <div class="wrapper">
        <h3>This is an h3 header:</h3>

        <ol class="round">
            <li class="one">
                <h5>h5 Lorem ipsum dolor sit amet.</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor sed tellus nec adipiscing. Aliquam vitae diam elit. Duis ut bibendum est. Pellentesque accumsan id turpis id varius. Quisque at magna eget urna luctus mattis eget et nisi. Maecenas vel ultricies purus, vel dignissim metus. Nunc eu tellus non turpis commodo molestie. Vestibulum consectetur tellus metus, sit amet aliquam urna placerat nec. Vivamus egestas ligula et est mattis molestie. Aliquam erat volutpat. Phasellus dignissim nisl eu suscipit elementum. Integer quis elementum arcu. Proin vehicula laoreet ipsum vehicula tincidunt. Cras vitae porttitor massa, id vehicula dui.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
            </li>

            <li class="two">
                <h5>h5 Lorem ipsum dolor sit amet</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor sed tellus nec adipiscing. Aliquam vitae diam elit. Duis ut bibendum est. Pellentesque accumsan id turpis id varius. Quisque at magna eget urna luctus mattis eget et nisi. Maecenas vel ultricies purus, vel dignissim metus. Nunc eu tellus non turpis commodo molestie. Vestibulum consectetur tellus metus, sit amet aliquam urna placerat nec. Vivamus egestas ligula et est mattis molestie. Aliquam erat volutpat. Phasellus dignissim nisl eu suscipit elementum. Integer quis elementum arcu. Proin vehicula laoreet ipsum vehicula tincidunt. Cras vitae porttitor massa, id vehicula dui.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
            </li>

            <li class="three">
                <h5>h5 Lorem ipsum dolor sit amet</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor sed tellus nec adipiscing. Aliquam vitae diam elit. Duis ut bibendum est. Pellentesque accumsan id turpis id varius. Quisque at magna eget urna luctus mattis eget et nisi. Maecenas vel ultricies purus, vel dignissim metus. Nunc eu tellus non turpis commodo molestie. Vestibulum consectetur tellus metus, sit amet aliquam urna placerat nec. Vivamus egestas ligula et est mattis molestie. Aliquam erat volutpat. Phasellus dignissim nisl eu suscipit elementum. Integer quis elementum arcu. Proin vehicula laoreet ipsum vehicula tincidunt. Cras vitae porttitor massa, id vehicula dui.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
            </li>
        </ol>
    </div>
</section>

<section id="s1" class="section">
    <div class="wrapper persist-area">
        <header class="persist-header clearfix">
            <ul class="nav">
                <li><a href="#">share</a></li>
                <li><a href="#s2">next&gt;&gt;</a></li>
                <li><a href="#top">top</a></li>
            </ul>
            <h1>Curricular Learning Goals</h1>
        </header>

        <h2>C1- &lt;h2&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
        aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
        Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
        Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
        leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <small>&mdash; Dr. Julius Hibbert</small>
        </blockquote><br />    </div>
</section>

<section id="s2" class="section">
    <div class="wrapper persist-area">
        <header class="persist-header clearfix">
            <ul class="nav">
                <li><a href="#">share</a></li>
                <li><a href="#s1">&lt;&lt;previous</a></li>
                <li><a href="#s3">next&gt;&gt;</a></li>
                <li><a href="#top">top</a></li>
            </ul>
            <h1>Core Business Courses</h1>
        </header>
        <h2>C1- &lt;h2&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
        aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
        Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
        Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
        leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <small>&mdash; Dr. Julius Hibbert</small>
        </blockquote><br />    </div>
</section>

<section id="s3" class="section">
    <div class="wrapper persist-area">
        <header class="persist-header clearfix">
            <ul class="nav">
                <li><a href="#">share</a></li>
                <li><a href="#s2">&lt;&lt;previous</a></li>
                <li><a href="#top">top</a></li>
            </ul>
            <h1>Major Required Courses</h1>
        </header>
        <h2>C1- &lt;h2&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
        aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
        Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
        Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
        leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <small>&mdash; Dr. Julius Hibbert</small>
        </blockquote><br />    </div>
</section>