@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section featured {
<section id="aside" class="featured" data-sticky_column>
    <div class="wrapper">
        <!-- for development only --><label id="message" style="display: block;"></label><!-- for development only -->

        <hgroup class="title">
            <h1>College of Business</h1>
            <h2>This is an h2 header.</h2>
        </hgroup>

        <nav>
            <a href="#s1">Curricular Learning Goals</a><br>
            <a href="#s2">Core Business Courses</a><br>
            <a href="#s3">Major Required Courses</a><br>
        </nav>
        
        @*<p>The page features <mark>videos, pages, and samples</mark> to help you get the most from this website.</p>

        <p>paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>*@


    </div>
</section>
}

<section class="index">
    <div class="wrapper">
        Index content.
    </div>
</section>

<section id="s1" class="section">
    <div class="wrapper persist-area">
        
        <div class="container">
			<header class="persist-header clearfix">
                <h2>Curricular Learning Goals</h2>
                <ul class="nav">
                    <li><a href="#">share</a></li>
                    <li><a href="#s2">next&gt;&gt;</a></li>
                    <li><a href="#top">top</a></li>
                </ul>
            </header>
			<div class="main clearfix">
				<div class="bb-custom-wrapper">
					@*<h3>Illustrations by <a href="http://dribbble.com/kevinhowdeshell">Kevin Howdeshell</a></h3>*@
                    <nav>
						<a id="nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
						<a id="nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
						<a id="nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
						<a id="nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
					</nav>
					<div id="bb-bookblock" class="bb-bookblock">
						<div class="bb-item">

							<h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                <small>&mdash; Dr. Julius Hibbert</small>
                            </blockquote><br />

						</div>
						<div class="bb-item">

							<h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                <small>&mdash; Dr. Julius Hibbert</small>
                            </blockquote><br />

						</div>
						<div class="bb-item">

							<h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                <small>&mdash; Dr. Julius Hibbert</small>
                            </blockquote><br />

						</div>
						<div class="bb-item">

							<h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                <small>&mdash; Dr. Julius Hibbert</small>
                            </blockquote><br />

						</div>
						<div class="bb-item">

							<h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                            aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                            Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                            Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                            leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                            Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                            netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                            Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                            ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                            <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                <small>&mdash; Dr. Julius Hibbert</small>
                            </blockquote><br />

						</div>
					</div>
				</div>
			</div>
		</div><!-- /container -->    </div>
</section>

<section id="s2" class="section">
    <div class="wrapper persist-area">
        <header class="persist-header clearfix">
            <h2>Core Business Courses</h2>
            <ul class="nav">
                <li><a href="#">share</a></li>
                <li><a href="#s1">&lt;&lt;previous</a></li>
                <li><a href="#s3">next&gt;&gt;</a></li>
                <li><a href="#top">top</a></li>
            </ul>
        </header>

        <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
        aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
        Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
        Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
        leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <small>&mdash; Dr. Julius Hibbert</small>
        </blockquote><br />    </div>
</section>

<section id="s3" class="section">
    <div class="wrapper persist-area">
        <header class="persist-header clearfix">
            <h2>Major Required Courses</h2>
            <ul class="nav">
                <li><a href="#">share</a></li>
                <li><a href="#s2">&lt;&lt;previous</a></li>
                <li><a href="#top">top</a></li>
            </ul>
        </header>

        <h3>&lt;h3&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
        aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
        Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
        Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
        leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
        Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
        netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
        Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
        ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
        <h4>&lt;h4&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <small>&mdash; Dr. Julius Hibbert</small>
        </blockquote><br />    </div>
</section>