@{
    
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Demo</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	@*<link rel="stylesheet" href="css/normalize.css">*@<!--no use-->
	@*<link rel="stylesheet" href="css/ospb.css">*@<!--no use-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="sly/css/font-awesome.min.css">
	<link rel="stylesheet" href="sly/css/site.css">
    <link rel="stylesheet" href="sly/css/ogrid.css">

    <style>
        .frame {
            overflow: hidden;
            height: 400px;
        }
        .frame li {
            float: left;
        }
    </style>

	<script src="sly/js/modernizr.js"></script>

</head>
<body>
    <div class="container">
	    <div class="projecttitle">

            <section>
                    <div id="example1" class="pagespan clearfix">

                        <div class="scrollbar">
				            <div class="handle">
					            <div class="mousearea"></div>
				            </div>
			            </div><!--/scrollbar-->

                        <button class="prev" style="float: left; width: 100px; height: 200px; font-size: 60px;"><i class="icon-angle-left" style="font-size: 1em;"></i></button><!--/back button-->
                        <button class="next" style="float: left; width: 100px; height: 200px; font-size: 60px; float: right;"><i class="icon-angle-right" style="font-size: 1em;"></i></button><!--/forward button-->

			            <div class="frame">
				            <ul id="og-grid" class="og-grid">

                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							            <img src="~/images/thumbs/1.jpg" alt="img01"/>
						            </a>
                                </li><!--/line item-->

                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							            <img src="~/images/thumbs/2.jpg" alt="img02"/>
						            </a>
                                </li>

                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							            <img src="~/images/thumbs/3.jpg" alt="img03"/>
						            </a>
					            </li>

				            </ul>
			            </div><!--/frames-->

                        <ul class="pages"></ul><!--/position marker-->

                    </div>
            </section>

            <section>
                    <div id="example2" class="pagespan">

                        <div class="scrollbar">
				            <div class="handle">
					            <div class="mousearea"></div>
				            </div>
			            </div><!--/scrollbar-->

                        <button class="prev" style="float: left; width: 100px; height: 200px; font-size: 60px;"><i class="icon-angle-left" style="font-size: 1em;"></i></button>
                        <button class="next" style="float: left; width: 100px; height: 200px; font-size: 60px; float: right;"><i class="icon-angle-right" style="font-size: 1em;"></i></button>

			            <div class="frame">
				            <ul id="og-grid" class="og-grid">

                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							            <img src="~/images/thumbs/1.jpg" alt="img01"/>
						            </a>
                                </li><!--/line item-->

                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							            <img src="~/images/thumbs/2.jpg" alt="img02"/>
						            </a>
                                </li>

                                <li>
						            <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							            <img src="~/images/thumbs/3.jpg" alt="img03"/>
						            </a>
					            </li>

				            </ul>
			            </div><!--/frames-->

                        <ul class="pages"></ul><!--/position marker-->

                    </div>
            </section>

            <section>
                    <div id="example3" class="pagespan">

                        <div class="scrollbar">
				            <div class="handle">
					            <div class="mousearea"></div>
				            </div>
			            </div><!--/scrollbar-->

                        <button class="prev" style="float: left; width: 100px; height: 200px; font-size: 60px;"><i class="icon-angle-left" style="font-size: 1em;"></i></button>
                        <button class="next" style="float: left; width: 100px; height: 200px; font-size: 60px; float: right;"><i class="icon-angle-right" style="font-size: 1em;"></i></button>

			            <div class="frame">
				            <ul id="og-grid" class="og-grid">

                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							            <img src="~/images/thumbs/1.jpg" alt="img01"/>
						            </a>
                                </li><!--/line item-->

                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							            <img src="~/images/thumbs/2.jpg" alt="img02"/>
						            </a>
                                </li>

                                <li>
						            <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							            <img src="~/images/thumbs/3.jpg" alt="img03"/>
						            </a>
					            </li>

				            </ul>
			            </div><!--/frames-->

                        <ul class="pages"></ul><!--/position marker-->

                    </div>
            </section>

	    </div>
    </div>

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script src="sly/js/plugins.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="sly/js/sly.min.js"></script>
	<script src="sly/js/main.js"></script>

    <script src="sly/js/grid.js"></script>

	<script>
		$(function() {
			Grid.init();
		});
	</script>

	<!-- Google Analytics -->
</body>
</html>