
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$white: #FFFFFF;
$blue-gray: #C7D1D6;
$light-gray: #E2E2E2;
$light-blue: #A6DBED;

html {
    background-color: $light-gray;
    margin: 0; padding: 0;
}

body {
    background-color: $white;
    margin: 0; padding: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: .85em;
}

h1, h2, h3,
h4, h5, h6 {margin-bottom: 0; padding-bottom: 0;}
h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
h5, h6 {
    font-size: 1em;
    a:link, a:visited, a:active {
        padding: 0;
        text-decoration: none;
    }
}

a {outline: none; padding-left: 3px; padding-right: 3px; text-decoration: none;}
a:link, a:visited,
a:active, a:hover { color: $blue-gray;}
a:hover {background-color: $light-gray;}

p {margin: 0 0 10px 0;}

pre {
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

mark {
    background-color: $light-blue;
    padding-left: 5px;
    padding-right: 5px;
}