/* =============================================================================
   Persistent Content Headers
   ========================================================================== */

.persist-header { /*-settings for both-*/
    min-height:10px;
}

.persist-header h2 {
    margin-left: 25px;
}

.persist-header ul.nav {
    float: right;
    list-style: none;
}

.persist-header ul.nav li {
    display: inline-block;
    text-indent:-9999px;
}

.persist-header ul.nav li a {
    padding: 10px;
}

.persist-header ul.nav li:last-child {
    padding-left: 20px;
}

/*----------------------------------*/

.floatingHeader {
    background: rgba(0,0,0,0.6); /*-using different settings-*/
    visibility: hidden;
    color: #ffcc00;    
    position: fixed;
    top:0;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */
}
            
.floatingHeader ul.nav {
    color: #ffcc00;

}

.floatingHeader ul.nav li {
    text-indent: 0;
}

.floatingHeader ul.nav li a {
    color: #ffcc00;
    text-indent: 0;
}


/* =============================================================================
   Main Container and Wrapper
   ========================================================================== */


/* -- Big Background Images ----------------------
background: #FFF url(../../images/millican.jpg) no-repeat top center fixed;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale')";
    
background: rgba(0,0,0,0.3) url(../../images/sample-bg1.jpg) no-repeat top center fixed;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale')";
--*/


/* =============================================================================
   Main-Content Section
   ========================================================================== */
    
.featured + .main-content { /*display background if both classes are present on page*/
    background: url("../../Images/mcarrows.png") repeat-y right;
}

.main-content {
/*background: #FFF; white canvas*/
    position: relative !important;
    overflow: hidden !important;
    z-index: 10;
}

main-content section {
    /**/
    display: block;
    float: left;
    width: 80%;

}

.main-content .index {min-height:600px;}

.main-content .index .wrapper {padding: 25px;}

.main-content .section {
/*margin-top: 25px; */
background: rgba(225,225,225,0.9);
box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1); /* shadow */
}

.main-content .section .wrapper {
padding: 25px; 
/*margin: 0 auto; max-width: 1280px;*/
}


/* =============================================================================
   FB Scroller
   ========================================================================== */

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}







/* homepage content 
----------------------------------------------------------
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }
*/