/* =============================================================================
   Persistent Content Headers
   ========================================================================== */

.persist-header { /*-settings for both-*/
    min-height:10px;
    padding-top: 5px;
}

.persist-header span {
    margin-left: 10px;
}

.persist-header ul.nav {
    float: right;
    list-style: none;
}

.persist-header div {
    text-indent:-9999px;
}

.persist-header ul.nav li a {
    padding: 10px;
}

.persist-header ul.nav li:last-child {
    padding-left: 20px;
}

/*----------------------------------*/

.floatingHeader {
    background: rgba(0,0,0,0.6); /*-using different settings-*/
    visibility: hidden;
    color: #ffcc00;    
    position: fixed;
    top:0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */
    z-index: 10;
}
            
.floatingHeader ul.nav {
    color: #ffcc00;

}

.floatingHeader div {
    text-indent: 0;
}

.floatingHeader ul.nav li a {
    color: #ffcc00;
    text-indent: 0;
}


/* =============================================================================
   Main Container and Wrapper
   ========================================================================== */


/* -- Big Background Images ----------------------
background: #FFF url(../../images/millican.jpg) no-repeat top center fixed;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale')";
    
background: rgba(0,0,0,0.3) url(../../images/sample-bg1.jpg) no-repeat top center fixed;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale')";
--*/


/* =============================================================================
   Main-Content 
   ========================================================================== */
    
.featured + .main-content { /*display background if both classes are present on page*/
    background: url("../../Images/mcarrows.png") repeat-y right;
}

.main-content {
    position: relative !important;
    overflow: hidden !important;
    z-index: 10;
}

.main-content section {
    display: block;
}

.main-content section .wrapper {
    padding: 25px; 
    display: block;
    float: left;

border:1px dashed red; /*-- development only - borderline --*/

}


/* =============================================================================
   Sections
   ========================================================================== */

.main-content .index {
    height: 1100px;
}

.main-content .section {}

.main-content .section .block-full {}

.main-content > .section .section-top {
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.main-content .section-top:before {
    content: '';
    background: url(../../images/up_arrow_main_content.png) no-repeat;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0px;
}
    
.main-content > .section .section-title {
    position: absolute;
    margin: 0 auto;
    width: 93%;
    top: 20%;
    color: #fff;
    font-family: 'Cinzel', serif;
    text-align: center;
    line-height: 1em;
    text-shadow: 0px 1px 2px #333;
}
    
.main-content > .section .section-bottom {
    background: rgba(225,225,225,0.8);
    padding: 25px;
    box-shadow: 5px 20px 30px 10px rgba(0,0,0,0.3);
    border-radius: 0 0 5px 5px;
}


/* =============================================================================
   FB Scroller
   ========================================================================== */

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}







/* homepage content 
----------------------------------------------------------
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }
*/