/* =============================================================================
   Main Container and Wrapper
   ========================================================================== */

.page #container, .page .content-wrapper { 
    
    /* -- Big Background Image --*/
    background: rgba(0,0,0,0.3) url(../../images/sample-bg1.jpg) no-repeat top center fixed;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale')";

}

/* -- Big Background Images ----------------------
background: #FFF url(../../images/millican.jpg) no-repeat top center fixed;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale')";
    
background: rgba(0,0,0,0.3) url(../../images/sample-bg1.jpg) no-repeat top center fixed;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/sample-bg1.jpg', sizingMethod='scale')";
--*/


/* =============================================================================
   Main-Content Section
   ========================================================================== */
    
.featured + .main-content { /*display background if both classes are present on page
    background: url("../../Images/mcarrows.png") repeat-y right;*/
}

.main-content {
background: #FFF;
border: 1px dashed red;
z-index: 10;
    position: relative !important;
    overflow: hidden !important; 
}

.main-content .index {min-height:200px;}

.main-content .index .wrapper {/*max-width: 1600px; margin: 0 auto; padding: 0 15px;*/}

.main-content .section {padding-top: 40px;}

.main-content .section .wrapper {/*max-width: 1600px; margin: 0 auto; padding: 0 15px;*/}


/* =============================================================================
   Persistent Content Headers
   ========================================================================== */

.persist-header { /*-settings for both-*/
    min-height:10px;
    padding-top: 40px;
}

.floatingHeader {
    background: rgba(0,0,0,0.6); /*-using different settings-*/
    visibility: hidden;
    position: fixed;
    top:0;
    color: #ffcc00;
    /*z-index: 100; -exchange with bb-bookblock*/
}

.floatingHeader ul.nav li a {
    color: #ffcc00;
}
            
.persist-header ul.nav {
    float: right;
    padding: 0 10px;
}
            
.persist-header ul.nav li, ul.nav li {
    display: inline;
}
            
.persist-header ul.nav li:last-child {
    padding-left: 20px;
}





/* homepage content 
----------------------------------------------------------
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }
*/