body .container {
    padding: 0 20px;
    height: 100%;
    /*
    background: #fff url(../../images/millican.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale')";
    */
}

header {
    min-height: 100px;
    /*background: rgba(242,242,242,1);*/
}

#body {
    /*background: rgba(242,242,242,1);*/
}