@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 19, sass/partials/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 20, sass/partials/_boilerplate.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 21, sass/partials/_boilerplate.scss */
audio:not([controls]) {
  display: none;
}

/* line 22, sass/partials/_boilerplate.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 33, sass/partials/_boilerplate.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, sass/partials/_boilerplate.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 37, sass/partials/_boilerplate.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* Uncomment these if you do want to customize the selection highlight
 *::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
 *::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 53, sass/partials/_boilerplate.scss */
a {
  color: #00e;
}

/* line 54, sass/partials/_boilerplate.scss */
a:visited {
  color: #551a8b;
}

/* line 55, sass/partials/_boilerplate.scss */
a:hover {
  color: #06e;
}

/* line 56, sass/partials/_boilerplate.scss */
a:focus {
  outline: thin dotted;
}

/* line 59, sass/partials/_boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 66, sass/partials/_boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, sass/partials/_boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 70, sass/partials/_boilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/* line 72, sass/partials/_boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 74, sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, sass/partials/_boilerplate.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 78, sass/partials/_boilerplate.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 81, sass/partials/_boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 84, sass/partials/_boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 86, sass/partials/_boilerplate.scss */
q {
  quotes: none;
}

/* line 87, sass/partials/_boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 89, sass/partials/_boilerplate.scss */
small {
  font-size: 85%;
}

/* line 92, sass/partials/_boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 93, sass/partials/_boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 94, sass/partials/_boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 101, sass/partials/_boilerplate.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 102, sass/partials/_boilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 103, sass/partials/_boilerplate.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/* line 113, sass/partials/_boilerplate.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 117, sass/partials/_boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 124, sass/partials/_boilerplate.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 131, sass/partials/_boilerplate.scss */
form {
  margin: 0;
}

/* line 132, sass/partials/_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 135, sass/partials/_boilerplate.scss */
label {
  cursor: pointer;
}

/* line 140, sass/partials/_boilerplate.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 146, sass/partials/_boilerplate.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 151, sass/partials/_boilerplate.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 155, sass/partials/_boilerplate.scss */
table button, table input {
  *overflow: auto;
}

/* line 160, sass/partials/_boilerplate.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 164, sass/partials/_boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 165, sass/partials/_boilerplate.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 166, sass/partials/_boilerplate.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 170, sass/partials/_boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 175, sass/partials/_boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 179, sass/partials/_boilerplate.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 186, sass/partials/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 187, sass/partials/_boilerplate.scss */
td {
  vertical-align: top;
}

/* ==|== primary styles ===================================================== */
/* ========================================================================== */
/* line 7, sass/partials/boilerplate/_primary_styles.scss */
html {
  background: #191919;
}

/* line 11, sass/partials/boilerplate/_primary_styles.scss */
body {
  background-color: white;
  font-size: .85em;
  line-height: 1.4em;
}

/* line 19, sass/partials/boilerplate/_primary_styles.scss */
h1 {
  font-size: 2em;
}

/* line 20, sass/partials/boilerplate/_primary_styles.scss */
h2 {
  font-size: 1.75em;
}

/* line 21, sass/partials/boilerplate/_primary_styles.scss */
h3 {
  font-size: 1.2em;
}

/* line 22, sass/partials/boilerplate/_primary_styles.scss */
h4 {
  font-size: 1.1em;
}

/* line 23, sass/partials/boilerplate/_primary_styles.scss */
h5, h6 {
  font-size: 1em;
}

/* line 25, sass/partials/boilerplate/_primary_styles.scss */
a {
  text-decoration: none;
}

/* line 29, sass/partials/boilerplate/_primary_styles.scss */
p {
  margin: 0 0 10px 0;
}

/* line 31, sass/partials/boilerplate/_primary_styles.scss */
pre {
  font-size: 12px;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 38, sass/partials/boilerplate/_primary_styles.scss */
mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 44, sass/partials/boilerplate/_primary_styles.scss */
blockquote {
  background: white url("http://images.bus.ucf.edu/ui/quote.gif") no-repeat;
  background-position: 0px 5px;
  border-left: 4px solid #DDD;
  padding: 10px 15px 10px;
  font: italic 1.2em "Georgia", "Times New Roman", "Times", serif;
  color: #666;
}

/* line 53, sass/partials/boilerplate/_primary_styles.scss */
blockquote small {
  font: italic .9em "Georgia", "Times New Roman", "Times", serif;
  color: #666;
}

/*---------------------*/
/*-- Special Classes --*/
/*---------------------*/
/* line 62, sass/partials/boilerplate/_primary_styles.scss */
.noshow {
  display: none;
}

/* line 66, sass/partials/boilerplate/_primary_styles.scss */
.shadow {
  box-shadow: 2px 4px 7px 1px rgba(135, 139, 144, 0.3);
  /*-CSS3 Box Shadow-*/
  -moz-box-shadow: 2px 4px 7px 1px rgba(135, 139, 144, 0.3);
  /*-CSS3 Box Shadow-*/
}

/* line 71, sass/partials/boilerplate/_primary_styles.scss */
.highlight {
  background-color: #fff34d;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  /* FF3.5+ */
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  /* Saf3.0+, Chrome */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  /* Opera 10.5+, IE 9.0 */
}

/* line 79, sass/partials/boilerplate/_primary_styles.scss */
.highlight {
  padding: 1px 4px;
  margin: 0 -4px;
}

/* line 84, sass/partials/boilerplate/_primary_styles.scss */
.left {
  float: left;
}

/* line 88, sass/partials/boilerplate/_primary_styles.scss */
.right {
  float: right;
}

/* line 92, sass/partials/boilerplate/_primary_styles.scss */
.note {
  border: 1px solid orange;
  padding: 1em;
  background: #ffffe0;
}

/*----------------------*/
/*-- FOOTER  Section --*/
/*----------------------*/
/* line 102, sass/partials/boilerplate/_primary_styles.scss */
footer {
  background: #e2e2e2;
}

/* ==|== non-semantic helper classes ======================================== */
/* ========================================================================== */
/* line 2, sass/partials/boilerplate/_helper_classes.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 3, sass/partials/boilerplate/_helper_classes.scss */
.ir br {
  display: none;
}

/* line 7, sass/partials/boilerplate/_helper_classes.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, sass/partials/boilerplate/_helper_classes.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 15, sass/partials/boilerplate/_helper_classes.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 19, sass/partials/boilerplate/_helper_classes.scss */
.invisible {
  visibility: hidden;
}

/* line 23, sass/partials/boilerplate/_helper_classes.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 24, sass/partials/boilerplate/_helper_classes.scss */
.clearfix:after {
  clear: both;
}

/* line 25, sass/partials/boilerplate/_helper_classes.scss */
.clearfix {
  zoom: 1;
}

/* ==|== print styles ======================================================= */
/* ========================================================================== */
@media print {
  /* line 2, sass/partials/boilerplate/_print_styles.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 3, sass/partials/boilerplate/_print_styles.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 4, sass/partials/boilerplate/_print_styles.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 5, sass/partials/boilerplate/_print_styles.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 6, sass/partials/boilerplate/_print_styles.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 7, sass/partials/boilerplate/_print_styles.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 8, sass/partials/boilerplate/_print_styles.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 9, sass/partials/boilerplate/_print_styles.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 10, sass/partials/boilerplate/_print_styles.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 12, sass/partials/boilerplate/_print_styles.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 13, sass/partials/boilerplate/_print_styles.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, sass/partials/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 181, sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, sass/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Header style*/
/* line 2, sass/partials/_ucfheader.scss */
#UCFHBHeader {
  background-image: url("../../images/ucfbar/header_border.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  background-color: black;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 2px;
  /* to treat the bg as a border +2px*/
}

/* line 12, sass/partials/_ucfheader.scss */
#UCFHBHeader label {
  color: #FFF;
  text-indent: -900px;
  display: block;
  float: left;
}

/* line 19, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFtitle {
  float: left;
  margin: 0;
  padding: 0;
}

/* line 25, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFtitle a {
  margin: 0;
  padding: 0;
  background-image: url("../../images/ucfbar/ucflogo.png");
  background-repeat: no-repeat;
  background-position: top left;
  /*background-color: black;*/
  display: block;
  height: 29px;
  width: 318px;
}

/* line 37, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFtitle a span.UCFHBText {
  display: none;
}

/* line 41, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFHBUni_links {
  margin-left: 75px;
  float: left;
}

/* line 46, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFHBUni_links select {
  width: 130px;
  border: 1px solid #c0c0c0;
  background-color: #FFF;
}

/* line 52, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFHBMy_ucf {
  display: block;
  background-image: url("../../images/ucfbar/images/myucf.png");
  background-repeat: no-repeat;
  background-position: top left;
  margin-left: 25px;
  margin-top: 3px;
  height: 15px;
  width: 58px;
  float: left;
}

/* line 64, sass/partials/_ucfheader.scss */
#UCFHBHeader #UCFHBMy_ucf span.text {
  display: none;
}

/* line 68, sass/partials/_ucfheader.scss */
#UCFHBsubmit {
  width: 16px;
  height: 17px;
  overflow: hidden;
  background-image: url("../../images/ucfbar/images/arrow.png");
  border: 0;
  margin: 0;
  padding: 0;
  text-indent: -500px;
  color: black;
  baseline: top;
}

/* line 79, sass/partials/_ucfheader.scss */
#UCFHBHeader div.UCFHBWrapper {
  margin: 0 auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Hide the inner submenus */
/* line 3, sass/partials/nav/_base.scss */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
/* line 17, sass/partials/nav/_base.scss */
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

/* line 25, sass/partials/nav/_base.scss */
.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
/* line 30, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
/* line 41, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  -moz-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

/* line 47, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  -moz-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

/* line 53, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  -moz-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

/* line 59, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  -moz-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

/* line 65, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  -moz-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  /* line 72, sass/partials/nav/_base.scss */
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }

  /* line 75, sass/partials/nav/_base.scss */
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }

  /* line 79, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut2 {
  /* line 86, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut3 {
  /* line 93, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut4 {
  /* line 100, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut5 {
  /* line 107, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut1 {
  /* line 114, sass/partials/nav/_base.scss */
  50% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
  }

  /* line 117, sass/partials/nav/_base.scss */
  75% {
    -moz-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }

  /* line 121, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut2 {
  /* line 128, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut3 {
  /* line 135, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut4 {
  /* line 142, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-moz-keyframes MenuAnimOut5 {
  /* line 149, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut1 {
  /* line 156, sass/partials/nav/_base.scss */
  50% {
    transform: translateZ(-250px) rotateY(30deg);
  }

  /* line 159, sass/partials/nav/_base.scss */
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }

  /* line 163, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes MenuAnimOut2 {
  /* line 170, sass/partials/nav/_base.scss */
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut3 {
  /* line 177, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut4 {
  /* line 184, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut5 {
  /* line 191, sass/partials/nav/_base.scss */
  100% {
    transform: translateY(40%);
    opacity: 0;
  }
}

/* line 197, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  -moz-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

/* line 203, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  -moz-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

/* line 209, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  -moz-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

/* line 215, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  -moz-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

/* line 221, sass/partials/nav/_base.scss */
.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  -moz-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  /* line 228, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }

  /* line 232, sass/partials/nav/_base.scss */
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }

  /* line 236, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn2 {
  /* line 243, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }

  /* line 247, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn3 {
  /* line 254, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }

  /* line 258, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn4 {
  /* line 265, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }

  /* line 269, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn5 {
  /* line 276, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }

  /* line 280, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn1 {
  /* line 287, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }

  /* line 291, sass/partials/nav/_base.scss */
  20% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }

  /* line 295, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn2 {
  /* line 302, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }

  /* line 306, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn3 {
  /* line 313, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }

  /* line 317, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn4 {
  /* line 324, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }

  /* line 328, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn5 {
  /* line 335, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateY(40%);
    opacity: 0;
  }

  /* line 339, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes MenuAnimIn1 {
  /* line 346, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }

  /* line 350, sass/partials/nav/_base.scss */
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }

  /* line 354, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes MenuAnimIn2 {
  /* line 361, sass/partials/nav/_base.scss */
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 365, sass/partials/nav/_base.scss */
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn3 {
  /* line 372, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }

  /* line 376, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn4 {
  /* line 383, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }

  /* line 387, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn5 {
  /* line 394, sass/partials/nav/_base.scss */
  0% {
    transform: translateY(40%);
    opacity: 0;
  }

  /* line 398, sass/partials/nav/_base.scss */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* line 404, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  -moz-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

/* line 410, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

/* line 416, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  -moz-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

/* line 422, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  -moz-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

/* line 428, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  -moz-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  /* line 435, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }

  /* line 439, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn2 {
  /* line 446, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }

  /* line 450, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn3 {
  /* line 457, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }

  /* line 461, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn4 {
  /* line 468, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }

  /* line 472, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn5 {
  /* line 479, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }

  /* line 483, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn1 {
  /* line 490, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateX(50%);
    opacity: 0;
  }

  /* line 494, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn2 {
  /* line 501, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }

  /* line 505, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn3 {
  /* line 512, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }

  /* line 516, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn4 {
  /* line 523, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }

  /* line 527, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}

@-moz-keyframes SubMenuAnimIn5 {
  /* line 534, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }

  /* line 538, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn1 {
  /* line 545, sass/partials/nav/_base.scss */
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  /* line 549, sass/partials/nav/_base.scss */
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn2 {
  /* line 556, sass/partials/nav/_base.scss */
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  /* line 560, sass/partials/nav/_base.scss */
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn3 {
  /* line 567, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }

  /* line 571, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn4 {
  /* line 578, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }

  /* line 582, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn5 {
  /* line 589, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(-200px);
    opacity: 0;
  }

  /* line 593, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* line 599, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  -moz-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

/* line 605, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

/* line 611, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  -moz-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

/* line 617, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  -moz-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

/* line 623, sass/partials/nav/_base.scss */
.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  -moz-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  /* line 630, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }

  /* line 634, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut2 {
  /* line 641, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }

  /* line 645, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut3 {
  /* line 652, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }

  /* line 656, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut4 {
  /* line 663, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }

  /* line 667, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut5 {
  /* line 674, sass/partials/nav/_base.scss */
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }

  /* line 678, sass/partials/nav/_base.scss */
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut1 {
  /* line 685, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }

  /* line 689, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateX(50%);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut2 {
  /* line 696, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }

  /* line 700, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut3 {
  /* line 707, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }

  /* line 711, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut4 {
  /* line 718, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }

  /* line 722, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}

@-moz-keyframes SubMenuAnimOut5 {
  /* line 729, sass/partials/nav/_base.scss */
  0% {
    -moz-transform: translateZ(0);
    opacity: 1;
  }

  /* line 733, sass/partials/nav/_base.scss */
  100% {
    -moz-transform: translateZ(-200px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut1 {
  /* line 740, sass/partials/nav/_base.scss */
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  /* line 744, sass/partials/nav/_base.scss */
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut2 {
  /* line 751, sass/partials/nav/_base.scss */
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  /* line 755, sass/partials/nav/_base.scss */
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut3 {
  /* line 762, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }

  /* line 766, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut4 {
  /* line 773, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }

  /* line 777, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut5 {
  /* line 784, sass/partials/nav/_base.scss */
  0% {
    transform: translateZ(0);
    opacity: 1;
  }

  /* line 788, sass/partials/nav/_base.scss */
  100% {
    transform: translateZ(-200px);
    opacity: 0;
  }
}

/* No JS Fallback */
/* line 795, sass/partials/nav/_base.scss */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

/* line 803, sass/partials/nav/_base.scss */
.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

/* line 807, sass/partials/nav/_base.scss */
.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

/* line 811, sass/partials/nav/_base.scss */
.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

/* line 815, sass/partials/nav/_base.scss */
.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}

/* Colors for demos */
/* Demo 1 */
/* line 822, sass/partials/nav/_base.scss */
.demo-1 .dl-menuwrapper button {
  background: #c62860;
}

/* line 828, sass/partials/nav/_base.scss */
.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847;
}

/* Demo 2 */
/* line 833, sass/partials/nav/_base.scss */
.demo-2 .dl-menuwrapper button {
  background: #e86814;
}

/* line 839, sass/partials/nav/_base.scss */
.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: #D35400;
}

/* Demo 3 */
/* line 844, sass/partials/nav/_base.scss */
.demo-3 .dl-menuwrapper button {
  background: #08cbc4;
}

/* line 850, sass/partials/nav/_base.scss */
.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae;
}

/* Demo 4 */
/* line 855, sass/partials/nav/_base.scss */
.demo-4 .dl-menuwrapper button {
  background: #90b912;
}

/* line 861, sass/partials/nav/_base.scss */
.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002;
}

/* Demo 5 */
/* line 866, sass/partials/nav/_base.scss */
.demo-5 .dl-menuwrapper button {
  background: #744783;
}

/* line 872, sass/partials/nav/_base.scss */
.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: #643771;
}

/* =============================================================================
   Simple fluid media
   ========================================================================== */
/* line 17, sass/site.scss */
img, object, embed, video {
  max-width: 100%;
}

/* line 23, sass/site.scss */
.ie6 img {
  width: 100%;
}

/* Mobile Layout: 480px and below. */
/* line 44, sass/site.scss */
body {
  color: grey;
}

/* =============================================================================
   Navigation Menu - Discovery
   ========================================================================== */
/* line 5, sass/partials/nav/_mobile.scss */
#menu {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
}

/* line 12, sass/partials/nav/_mobile.scss */
#menu a {
  color: white;
}

/* wrapper */
/* line 17, sass/partials/nav/_mobile.scss */
.dl-menuwrapper {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #555555), color-stop(1, #222222));
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective-origin: 50% 200%;
  -webkit-perspective-origin: 50% 200%;
  -moz-perspective-origin: 50% 200%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  /* shadow */
}

/* line 28, sass/partials/nav/_mobile.scss */
.dl-menuwrapper:first-child {
  margin-right: 100px;
}

/* home button */
/* line 33, sass/partials/nav/_mobile.scss */
#dl-home {
  /* needs home icon as background */
  border-right: none;
  width: 45px;
  height: 36px;
  font-size: 13px;
  font-weight: 300;
  text-indent: -900em;
  float: left;
}

/* line 43, sass/partials/nav/_mobile.scss */
#dl-home:hover {
  background: black;
}

/* discover button */
/* line 48, sass/partials/nav/_mobile.scss */
.dl-menuwrapper button {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #555555), color-stop(1, #222222));
  border: none;
  width: 45px;
  height: 36px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  float: left;
}

/* discover icon = */
/* line 61, sass/partials/nav/_mobile.scss */
.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 3px;
  background: #fff;
  top: 6px;
  left: 16%;
  box-shadow: 0 10px 0 white, 0 20px 0 white;
}

/* search */
/* line 75, sass/partials/nav/_mobile.scss */
#dl-search {
  border: 1px solid #000;
  padding: 0;
  height: 33px;
  float: right;
}

/* submenus */
/* menu ul only */
/* line 85, sass/partials/nav/_mobile.scss */
.dl-menuwrapper .dl-menu {
  margin: 36px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 98, sass/partials/nav/_mobile.scss */
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

/* line 103, sass/partials/nav/_mobile.scss */
.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
}

/* all uls */
/* line 112, sass/partials/nav/_mobile.scss */
.dl-menuwrapper ul {
  width: 100%;
  list-style: none;
  overflow: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

/* menu li */
/* line 122, sass/partials/nav/_mobile.scss */
.dl-menuwrapper li {
  position: relative;
}

/* line 125, sass/partials/nav/_mobile.scss */
.dl-menuwrapper li a {
  padding: 15px 20px;
  display: block;
  position: relative;
  outline: none;
}

/* line 131, sass/partials/nav/_mobile.scss */
.dl-menuwrapper li > a:after {
  right: 10px;
}

/* back li */
/* line 135, sass/partials/nav/_mobile.scss */
.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  font-size: 11px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

/* line 141, sass/partials/nav/_mobile.scss */
.dl-menuwrapper li.dl-back:after {
  left: 10px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

/* li arrows */
/* line 149, sass/partials/nav/_mobile.scss */
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  color: rgba(170, 170, 170, 0.3);
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000";
}

/* menu theme */
/* line 163, sass/partials/nav/_mobile.scss */
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #555555), color-stop(1, #222222));
  color: black;
}

/* line 168, sass/partials/nav/_mobile.scss */
.no-touch .dl-menuwrapper li a:hover {
  background: black;
  color: #aaaaaa;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
  /* line 50, sass/site.scss */
  body {
    color: red;
  }
}
/* Desktop Layout: 769px to max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
  /* line 57, sass/site.scss */
  body {
    color: blue;
  }

  /* =============================================================================
     Navigation Menu - Discovery
     ========================================================================== */
  /* line 5, sass/partials/nav/_desktop.scss */
  #menu {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    color: #ccc;
    font-family: 'Lato', Calibri, Arial, sans-serif;
  }

  /* wrapper */
  /* line 19, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper {
    background: none;
    width: 60%;
    position: relative;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective-origin: 50% 200%;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    box-shadow: none;
    /* no shadow */
  }

  /* line 31, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper:first-child {
    margin-right: 100px;
  }

  /* home button */
  /* line 36, sass/partials/nav/_desktop.scss */
  #dl-home {
    border: 1px solid #ddd;
    border-right: none;
    padding: 7px 9px 11px 6px;
    width: 40px;
    height: 16px;
    font-size: 13px;
    font-weight: 300;
    text-indent: 0;
    background: white;
    color: #555;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    /* shadow */
    float: left;
  }

  /* line 49, sass/partials/nav/_desktop.scss */
  #dl-home:hover {
    background: #f2f2f2;
  }

  /* discover button */
  /* line 54, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper button {
    border: 1px solid #ddd;
    border-right: none;
    padding-left: 30px;
    width: 150px;
    height: 36px;
    position: relative;
    overflow: hidden;
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-indent: 0em;
    cursor: pointer;
    outline: none;
    background: white;
    color: #555;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    /* shadow */
    float: left;
  }

  /* discover icon = */
  /* line 73, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper button:after {
    	/*content: '';
    	width: 20%;
    	height: 5px;
        position: absolute;
    	top: 20px;
    	left: 16%;
    	right: 15px;
        line-height: 50px;
        background: #aaa;
    	box-shadow: 
    		0 10px 0 #aaa, 
    		0 20px 0 #aaa;
        
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        */
    content: '';
    width: 20%;
    height: 4px;
    position: absolute;
    top: 5px;
    left: 4%;
    right: 15px;
    line-height: 50px;
    background: #555;
    box-shadow: 0 10px 0 #555555, 0 20px 0 #555555;
  }

  /* search */
  /* line 107, sass/partials/nav/_desktop.scss */
  #dl-search {
    border: 1px solid #eee;
    padding: 1px 15px;
    height: 32px;
    font-size: 13px;
    font-weight: 300;
    background: white;
    color: #aaaaaa;
    /**/
    float: left;
  }

  /* submenus */
  /* menu ul only */
  /* line 120, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper .dl-menu {
    /* ie fix */
    visibility: hidden;
  }

  /* line 123, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper .dl-menu {
    margin: 35px 0 0 57px;
    position: absolute;
    max-width: 330px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  /* line 136, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

  /* line 141, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
  }

  /* all uls */
  /* line 150, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper ul {
    max-width: 330px;
    list-style: none;
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
  }

  /* menu li */
  /* line 160, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper li {
    position: relative;
  }

  /* line 163, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper li a {
    padding: 10px 10px 10px 15px;
    display: block;
    position: relative;
    outline: none;
  }

  /* line 169, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper li > a:after {
    right: 10px;
  }

  /* back li */
  /* line 173, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    font-size: 11px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1);
    color: white;
  }

  /* line 179, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper li.dl-back:after {
    left: 10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
  }

  /* li arrows */
  /* line 187, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper li.dl-back:after,
  .dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 10px;
    line-height: 20px;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000";
    color: rgba(170, 170, 170, 0.3);
  }

  /* desktop - menu theme */
  /* line 201, sass/partials/nav/_desktop.scss */
  .dl-menuwrapper button:hover,
  .dl-menuwrapper button.dl-active,
  .dl-menuwrapper ul, .dl-menuwrapper li a {
    background: #ffcc00;
    color: #555;
    /* li:hover color*/
  }

  /* line 206, sass/partials/nav/_desktop.scss */
  .no-touch .dl-menuwrapper li a:hover {
    background: #FFE599;
    color: #333;
    /* a:hover color*/
  }

  /* line 1, sass/partials/layout/_desktop.scss */
  body .container {
    padding: 0 20px;
    height: 100%;
    /*
    background: #fff url(../../images/millican.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/millican.jpg', sizingMethod='scale')";
    */
  }

  /* line 12, sass/partials/layout/_desktop.scss */
  header {
    min-height: 100px;
    /*background: rgba(242,242,242,1);*/
  }

  /* line 17, sass/partials/layout/_desktop.scss */
  #body {
    /*background: rgba(242,242,242,1);*/
  }
}
