/* =============================================================================
   Page/Section Layout
   ========================================================================== */

.page #container, .page .content-wrapper {

    /* -- Big Background Image --*/
    background: rgba(0,0,0,0.3) url(../../images/cover-sample.jpg) no-repeat top left fixed;
    background-size: 120%;

    height: 100%;
}

/* =============================================================================
   Featured Sections
   ========================================================================== */

.featured {
    min-height: 330px;
    overflow: hidden;

    font-weight: 400;
    color: white;
    text-shadow: 0px 1px 2px #000;
}
    
.featured .wrapper {
    padding: 0 15px;
    position: relative;
    height: 100%;
}

.featured hgroup {}
            
.featured hgroup.title h1, .featured hgroup.title h2 {}

.featured nav {
    margin: 20px 0;
}

/* features 
section.feature {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    height: 40px;
}*/


/* =============================================================================
   Main-Content Section
   ========================================================================== */

.main-content {
    background: url("../../Images/mcarrows.png") repeat-y;
    position: relative !important;
}

.main-content section {border: 2px dashed red; /*--for development only--*/}

.main-content .index {background: white;}

.main-content .index .wrapper {padding: 0 5px;}

.main-content .section {background: white;}

.main-content .section .wrapper {padding: 0 5px;}


/* =============================================================================
   Section Navigation
   ========================================================================== */

.featured nav {
    overflow: hidden;
    position: static;
    text-align: left;
}

.featured nav a {
    border:  none;
    background: none;
    padding: 0;
    display: inline;
    line-height: 1.3em;
    font-size: 1.4em;
}


/* =============================================================================
   Persistent Content Headers
   ========================================================================== */

.persist-header { /*-settings for both-*/
    max-width:100%;
}

.floatingHeader {
    background: rgba(0,0,0,0.6); /*-using different settings-*/
    color: #ffcc00;
    visibility: hidden;
    position: fixed;
    top:0;
}

.persist-header h1 {
    margin:0;
    width: 99.4%; 
}
            
.persist-header ul.nav { 
    margin:0;padding:0;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: right;
}
            
.persist-header ul.nav li, ul.nav li {
    display: inline;
}

.persist-header ul.nav li:first-child {
    float:left;
}
            
.persist-header ul.nav li:last-child {
    padding-left: 15px;
}

.persist-header ul.nav li a {
    color: #cc9900;
    margin: 0 5px;
}
