/* =============================================================================
   Page/Section Layout
   ========================================================================== */

body {
    position: relative;
    z-index: 0;
}

.page #container {
    height: 100%;
}

.page .content-wrapper {     /*border:1px dashed red; for development only - borderline*/
    padding: 0 5px;
    height: 100%;
}


/* =============================================================================
   Featured Sections
   ========================================================================== */

.featured {

}
    
.featured .wrapper {
    position: relative;
    height: 100%;
}

.featured hgroup {}
            
.featured hgroup.title h1, .featured hgroup.title h2 {}

.featured p {}

/* features 
section.feature {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    height: 40px;
}*/


/* =============================================================================
   Main-Content Section
   ========================================================================== */

.main-content {
    background: url("../../Images/mcarrows.png") repeat-y;
    position: relative;
}

.main-content .index {}

.main-content .section {}

/* =============================================================================
   Section Navigation
   ========================================================================== */

.featured nav {
    margin: 11px 0;
}

.featured nav a {
    background: #ffcc00;
    margin: 0 3px;
    padding: 2px 5px;
    line-height: 1.9em;
    font-size: 1.1em;
}


/* =============================================================================
   Persistent Content Headers
   ========================================================================== */

.persist-header { /*-settings for both-*/
    max-width:100%;
}

.floatingHeader {
    background: rgba(0,0,0,0.6); /*-using different settings-*/
    color: #ffcc00;
    visibility: hidden;
    position: fixed;
    top:0;
}

.persist-header h1 {
    margin:0;
    width: 99.4%; 
}
            
.persist-header ul.nav { 
    margin:0;padding:0;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: right;
}
            
.persist-header ul.nav li, ul.nav li {
    display: inline;
}

.persist-header ul.nav li:first-child {
    float:left;
}
            
.persist-header ul.nav li:last-child {
    padding-left: 15px;
}

.persist-header ul.nav li a {
    color: #cc9900;
    margin: 0 5px;
}
