/* =============================================================================
   Navigation Menu - Discovery
   ========================================================================== */

/* */
#discovery {
    position: relative;
    max-width: 400px;
    top: 20px;
    left: 20px;
    font-size: 16px;
	font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* home */
#dl-home a {
    border: 1px solid #ddd;
    border-right: none;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    background: rgba(255,255,255,1); color: rgba(170,170,170,1);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1); /* shadow */
    float:left;
}
#dl-home a:hover {
    background: rgba(242,242,242,1);
}

/* wrapper */
.dl-menuwrapper {
    width: 100%;
	max-width: 300px;
	float: left;
    position: relative;

    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective-origin: 50% 200%;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
}
.dl-menuwrapper:first-child {
	margin-right: 100px;
}

/* discover button */
.dl-menuwrapper button {
    border: 1px solid #ddd;
    padding-left: 45px;
    width: 130px;
    height: 37px;
    text-indent: 0em;
    position: relative;
    overflow: hidden;
    display: block;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
	outline: none;
    background: rgba(255,255,255,1); color: rgba(170,170,170,1);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1); /* shadow */
}

/* discover icon = */
.dl-menuwrapper button:after {
	content: '';
	width: 20%;
	height: 5px;
    position: absolute;
	top: 20px;
	left: 16%;
	right: 15px;
    line-height: 50px;
    background: #aaa;
	box-shadow: 
		0 10px 0 #aaa, 
		0 20px 0 #aaa;

    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

/* submenus */

/* menu ul only */
.dl-menuwrapper .dl-menu {
    visibility: hidden;
}
.dl-menuwrapper .dl-menu {
	margin: 1px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
    transform: translateY(10px);
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1); /* shadow */
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
    transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
}

/* all uls */
.dl-menuwrapper ul {
    width: 300px;
	list-style: none;
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

/* back li */
.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    font-size: 11px;
    background: rgba(0,0,0,0.1); color: rgba(255,255,255,1);
}
.dl-menuwrapper li.dl-back:after {
	left: 10px;
    transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

/* back li arrow */
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    color: rgba(170,170,170,0.3);
	position: absolute;
	top: 7px;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\e000";
}

/* menu li */
.dl-menuwrapper li {
	position: relative;
}
.dl-menuwrapper li a {
    padding: 10px;
    display: block;
	position: relative;
	outline: none;
    color: rgba(170,170,170,1);
}
.dl-menuwrapper li > a:after {
	right: 10px;
}

/* menu li arrow */
.dl-menuwrapper li > a:not(:only-child):after {
	color: rgba(170,170,170,0.3);
    position: absolute; 
    top: 10px;
    font-family: "icomoon"; 
    speak: none; 
    -webkit-font-smoothing: antialiased;
    content: "\e000"; 
}

/* menu theme */
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: rgba(242,242,242,1);
}

.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,255,255,1); color: rgba(170,170,170,1);
}