/* =============================================================================
   Common styles of menus
   ========================================================================== */

#discovery {
    position: absolute;
    top: 60px;
    left: 30px;
}

#dl-home a {
    border: 1px solid #ccc; /* for development only */
    border-right: none;
    padding: 0 10px;
    line-height: 35px;
    float:left;
}

#dl-home a:hover {
    background: rgb(242, 242, 242);
}

.dl-menuwrapper {
    position: relative;
    width: 300px;
    float: left;

    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;

    perspective-origin: 50% 200%;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
}
.dl-menuwrapper:first-child {
	margin-right: 100px;
}

/* menu */
.dl-menuwrapper .dl-menu {
    visibility: hidden;
}
.dl-menuwrapper .dl-menu {
	margin: 5px 0px 0px;
    position: absolute;
    width: 100%; 
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.1);

    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.dl-menuwrapper .dl-menu-toggle.dl-menu {
	transition:0.3s;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.dl-menuwrapper .dl-menuopen.dl-menu {
	opacity: 1;

    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}

/* =============================================================================
   Nav - Menu Button
   ========================================================================== */

.dl-menuwrapper button {
    border: currentColor;
    border: 1px solid #ccc; /* for development only */ 
    padding-left: 45px;
    position: relative;
    width: 130px;
    height:100;
    display: block;
    overflow: hidden;
    cursor: pointer;
    line-height: 33px;
}

/* Button Theme */
.dl-menuwrapper button {
	background: rgb(255, 255, 255); color: rgb(170, 170, 170);
}
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active {
    background: rgb(242, 242, 242);
}

/*
.dl-menuwrapper button {
	background: #e86814;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
	background: #D35400;
}
*/

/* Menu Icon */
.dl-menuwrapper button:after {
	content: '';
    background: #aaa;
	position: absolute;
	width: 20%;
	height: 5px;
	top: 20px;
	left: 16%;
	box-shadow: 
		0 10px 0 #aaa, 
		0 20px 0 #aaa;
}
.dl-menuwrapper button:after {
	right: 15px;
    line-height: 50px;

    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}


/* =============================================================================
   Nav - Submenus
   ========================================================================== */

/* unordered lists */
.dl-menuwrapper ul {
    width:300px;
	list-style: none;
    overflow: hidden;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

/* section titles */
.dl-menuwrapper span {
    padding: 7px 10px; text-transform: uppercase; line-height: 20px; letter-spacing: 1px; font-size: 13px; font-weight: 700; display: block; position: relative;
    background: rgb(255, 255, 255); color: rgb(170, 170, 170);
}

/**/
.no-touch .dl-menuwrapper li a:hover {
	background: rgb(248, 248, 248);
}
.dl-menuwrapper li.dl-back > a {
	background: rgb(242, 242, 242); padding-left: 30px;
}
.dl-menuwrapper li.dl-back:after {
	top: 0px; color: rgb(221, 221, 221); line-height: 33px; font-family: "icomoon"; position: absolute; content: "\e000"; speak: none; -webkit-font-smoothing: antialiased;
	left: 10px; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);
}

/* list items */
.dl-menuwrapper li {
	position: relative;
}
.dl-menuwrapper li a {
	padding: 7px 10px; text-transform: uppercase; line-height: 20px; letter-spacing: 1px; font-size: 13px; font-weight: 700; display: block; position: relative;
	background: rgb(255, 255, 255); color: rgb(170, 170, 170);
}
.dl-menuwrapper li > a:not(:only-child):after {
	top: 0px; color: rgb(221, 221, 221); line-height: 33px; font-family: "icomoon"; position: absolute; content: "\e000"; speak: none; -webkit-font-smoothing: antialiased;
}
.dl-menuwrapper li > a:after {
	right: 10px; color: rgba(0, 0, 0, 0.15);
}
.dl-menuwrapper li .dl-submenu {
	display: hidden;
}
.dl-menuwrapper > .dl-submenu {
    left: 0px; 
    top: 55px; 
    width: 100%; 
    position: absolute;
}
.dl-subview.dl-menu li {
	display: hidden;
}
.dl-subview.dl-menu li.dl-subviewopen > a {
	display: hidden;
}
.dl-subview.dl-menu li.dl-subview > a {
	display: hidden;
}
.dl-subview.dl-menu li.dl-subview {
	display: block;
}
.dl-subview.dl-menu li.dl-subview .dl-submenu {
	display: block;
}
.dl-subview.dl-menu li.dl-subviewopen {
	display: block;
}
.dl-subview.dl-menu li.dl-subviewopen > .dl-submenu {
	display: block;
}
.dl-subview.dl-menu li.dl-subviewopen > .dl-submenu > li {
	display: block;
}
