
button.dl-trigger, span.dl-title {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}*/